
@model _200292943_Lesson3.Models.Car

@{
    ViewBag.Title = "Car Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Car Details</h2>

<p>Id: @Model.Id</p>
<p>Brand: @Model.Brand</p>
<p>Model: @Model.Model</p>
<p>Type: @Model.Type</p>
<p>Year: @Model.Year</p>

